@charset "utf-8";
/* CSS Document */
.l{float:left!important;_display:inline}
.r{float:right!important;_display:inline}
[class*="span"].r,.row-fluid [class*="span"].r{float:right}
/*3.1.16 文字颜色强调*/
.text-muted{color:#999}a.text-muted:hover{color:#808080}
.text-primary{color:#428BCA}a.text-primary:hover{color:#247dc9}
.text-warning{color:#f33}a.text-warning:hover{color:#f03}
.text-error{color:#f33}a.text-error:hover{color:#f03}
.text-danger{color:#c00}a.text-danger:hover{color:#900}
.text-success{color:#0c0}a.text-success:hover{color:#093}
.text-info{color:#1faef2}a.text-info:hover{color:#06c}
.text-price{color:#f60}a.text-price:hover{color:#f60}
/*3.5 按钮*/
/*信息按钮*/
.btn-info{color:#fff;background-color:#3bb4f2; border-color:#3bb4f2}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active{color:#fff;background-color:#0f9ae0;border-color:#0f9ae0}
/*反向按钮*/
.btn-inverse{color:#fff;background-color:#222; border-color:#222}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active{color:#fff;background-color:#2d2d2d;border-color:#2d2d2d}

.input-text.input-mini,.btn.btn-mini{font-size:12px; height:23px;padding:1px 2px;line-height:1.42857}/*迷你*/
.btn.btn-mini{ padding:1px 4px}
.input-text.input-small,.btn.btn-small{font-size:12px; height:27px;padding:3px;line-height:1.42857;}/*小*/
.btn.btn-small{ padding:3px 8px}
.input-text.input-big,.btn.btn-big{font-size:16px; height:41px; padding:8px}/*大*/
.btn.btn-big{ padding:8px 16px}
.input-text.input-large,.btn.btn-large{font-size:18px; height:48px; padding:10px}/*特大*/
.btn.btn-large{ padding:10px 24px}
/*3.6.2 头像*/
.avatar-mini,.avatar-mini img{ width:16px;height:16px}
.avatar-S,.avatar-S img{width:24px; height:24px}
.avatar-M,.avatar-M img{ width:32px; height:32px}
.avatar-L,.avatar-L img{ width:40px; height:40px}
.avatar-XL,.avatar-XL img{ width:64px; height:64px}

/*3.7 图标*/
.icon{display:inline-block; vertical-align:text-top; width:16px; height:16px; background-position:center; background-repeat:no-repeat}